<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Automation.RestApiFramework.AppTest"/>
      <class name="Automation.RestApiFramework.putDetailsApi"/>
      <class name="Automation.RestApiFramework.postDetailsApi"/>
      <class name="Automation.RestApiFramework.getDetailsApi"/>
      <class name="Automation.RestApiFramework.patchDetailsApi"/>
      <class name="Automation.RestApiFramework.deleteDetailsApi"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
